/*Base style
===========================*/
body {
    background-color: lightgray;
    text-align: center;
 }

 .workspace {
    background-color: #fdf5e6;
    width: 860px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
 }

 .nav-bar {
     padding-top: 10px ;

 }

 #myCanvas{
     background-color: white;
     width: 702px;
     height: 502px;
     border: 3px black solid;
     margin: 10px auto;
     padding: 5px;
     border-radius: 10px;

 }


 /*#targets a {*/
     /*display: block;*/
     /*float: left;*/
     /*width: 140px;*/
     /*height: 100px;*/
     /*border: 5px black solid;*/
 /*}*/

.canvas div {
    margin: 44px;
    width: 500px;
}

 /*.color-palette {*/
     /*background-color: plum;*/
     /*width: 220px;*/
     /*height: 350px;*/
     /*margin-top: 15px;*/
     /*padding-top: 5px;*/
  /*}*/

  /*.color-selection {*/
    /*width: 216px;*/
    /*height: 120px;*/
    /*border: 2px solid gray;*/

  /*}*/
  /*CANVAS
  ******************/

  .canvas {
      float: right;
      margin-right: 345px;
      margin-top: 50px;
  }

  .box {
     border: 2px solid black;
     padding: 20px;
     margin: 0px;
     margin-top: 30px;
  }

  .class #row-1-box-1 {
      width: 140px;
      height: 100px;

  }

 /**COLOR PALETTE
 ***************************/

 /*.color {*/
    /*border: 2px solid black;*/
    /*margin: 20px;*/
    /*padding: 20px;*/
    /*border-radius: 999px;*/
    /*display: block;*/
 /*}*/


/*ONCLICK STYLE*******************
*********************************/
/*.red {*/
    /*background-color: red;*/
/*}*/

/*.yellow {*/
     /*background-color: yellow;*/
/*}*/

/*.blue {*/
    /*background-color: blue;*/
/*}*/

/*.white {*/
    /*background-color: white;*/
/*}*/

 /*#red {*/
    /*background-color: red;*/
 /*}*/

 /*#yellow {*/
    /*background-color: yellow;*/
 /*}*/

 /*#blue {*/
    /*background-color: blue;*/
 /*}*/
 /*#white {*/
    /*background-color: white;*/
 /*}*/

/* Pseudo Classes (need to add the href atribut)
------------------------------------*/

nav a {
    color: gray;
}