/*Base style
===========================*/
body {
    background-color: lightgray;
    text-align: center;
 }
 h1 {
     font-family: 'Raleway', sans-serif;
 }

 .border {
     max-width: 900px;
     border: 2px solid black;
     margin-right: auto;
     margin-left: auto;
 }

.workspace {
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
    padding-top: 25px;
    padding-bottom: 20px;

}
/**PALETTE**************************/
.palette {
    background-color: moccasin;
    height: 500px;
}
ul {
    padding-top: 20px;
    padding-left: 5px;
}

ul > li {
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    border-radius: 999px;
    display: block;
}

#red {
background-color: red;
}

#yellow {
background-color: yellow;
}

#blue {
background-color: blue;
}

#white {
background-color: white;
}

/**CANVAS***********************/
 .canvas {
    background-color: white;
    /*width: 860px;*/
    height: 500px;
     width: 700px;
     border: 1px solid #333;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
 }

 /*Inside the canvas*/
#row-1 {
    height: 110px;
    border-bottom: 10px solid black;
}

 #row-1-box-1 {
    /*width: 116px;*/
     height: 100px;
    border-right: 10px solid black;
}

#row-1-box-2 {
    /*width: 310px;*/
    height: 100px;
    border-right: 10px solid black;
}

#row-1-box-3 {
    /*width: 100px;*/
    height: 100px;
    border-right: 10px solid black;
}

#row-1-box-4 {
    /*width: 100px;*/
    height: 100px;
}

#row-2 {
    height: 198px;
    border-bottom: 10px solid black;
}

#row-2-box-1 {
    height: 188px;
    border-right: 10px solid black;

}

#row-2-box-2 {
    height: 188px;
    border-right: 10px solid black;
}

#row-2-box-3 {
    height: 188px;
    border-right: 10px solid black;
}

#row-2-box-4 {
    height: 188px;
}

#row-3 {
    height: 70px;
    border-bottom: 10px solid black;
}

#row-3-box-1 {
    height: 60px;
    border-right: 10px solid black;
}

#row-3-box-2 {
    height: 60px;
    border-right: 10px solid black;
}

 #row-3-box-3 {
     height: 60px;
     border-right: 10px solid black;
 }

#row-3-box-4 {
    height: 60px;
}

#row-4 {
    height: 120px;
}

#row-4-box-1 {
    height: 120px;
    border-right: 10px solid black;
}

#row-4-box-2 {
    height: 120px;
    border-right: 10px solid black;
}

#row-4-box-3 {
    height: 120px;
    border-right: 10px solid black;
}

#row-4-box-4 {
    height: 120px;
}

 .nav-bar {
     padding-top: 10px ;

 }


/* Pseudo Classes (need to add the href atribut)
------------------------------------*/

/*nav a {*/
    /*color: gray;*/
/*}*/